.cart_wrapper {
  flex-direction: column;
  box-shadow: 0px 2px 6px #000;
}

.cart-icon {
  margin-left: auto;
}

.cart-items {
  flex-direction: column;
  gap: 2rem;
}

.cart-footer {
  margin-top: auto;
}
