.product-img {
  height: 10rem;
  object-fit: contain;
  cursor: pointer;
}

.product-card {
  cursor: pointer;
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productCard-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.product-details {
  display: flex;
  justify-content: space-between;
}
