.App {
  height: 100vh;
}

.flex {
  display: flex;
}
.d-block {
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.txt-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.primary-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  background-color: white;
  cursor: pointer;
}

.disable-color {
  color: gray;
}

.disable-btn {
  background-color: #d2d2d2;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
