.App {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.txt-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
